/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
    homePage = 'https://github.com/NationalGenomicsInfrastructure/icing'
    description = 'HLA typing from OxfordNanopore reads'
}

params {
    help = ''
    threads = 8
    minReadLength = 2000
    minContigLength = 3000
    minCoverage = 70
	editDistance  = minContigLength.toInteger()*0.05
    bam = ''
    sample = ''
}
